/* GENERICOS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#sobre-mi,
#proyectos,
footer {
  padding: 5rem;
}

#sobre-mi h1,
#proyectos h1,
footer h1 {
  text-align: center;
  padding: 3rem;
  margin-bottom: 3rem;
}

#sobre-mi div {
  display: flex;
}

/* NAVBAR */

.nabvar {
  position: sticky;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
